
@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@200..700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


.social_icon {
  transition: transform 0.3s, filter 0.3s;
  filter: brightness(0) invert(1);
}
.social_icon:hover {
  transform: scale(1.2);
  filter: drop-shadow(0 0 8px #9810fa);
}
.main_icon {
  filter: brightness(0) invert(1);
}
.website_name{
  font-family: "Science Gothic", sans-serif;
  /* font-weight: normal; */
}

.main_heading{
  font-family: "Merriweather", serif;
  font-weight: 900;
}

.results_title{
  font-family: "Stack Sans Notch", sans-serif;
}

.keyword_btn{
  font-family: "Pacifico", cursive;
  font-size: 18px;
}
.navbar_element{
  font-family: "Lobster", sans-serif;
  font-size: 20px;
}